@keyframes panning {
  0% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}

@keyframes slide-in-from-top {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 20px;
    opacity: 1;
  }  
}

@keyframes slide-out-from-top {
  0% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }  
}


story-card {
  .content {
    z-index: 2;
  }
  
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    -webkit-background-blend-mode: multiply;
    background-size: cover;
    z-index: 1;
    transition: all .5s;
    background-position: 30% 50%;
    background-color: rgba(0,0,0,.5);
  }

  .icon-tray {
    margin: 20px 0 0 0;
  }

  .icon {
    display: inline-block;
    position: relative;
    font-family: Graphik, sans-serif;
    font-size: 11px;
    letter-spacing: 0.07px;
    margin-right: 20px;
    height: 35px;
  
    &:after {
      position: absolute;
      width: 100%;
      text-align: center;
      padding-top: 8px;
      content: attr(data-content);
      display: block;
    }
    
    heart-icon {
      height: 35px;
    }
  }
  
  .new-article-alert {
    font-family: Graphik, sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    font-weight: bold;
    display: block;
    position: absolute;
    width: 250px;
    height: 45px;
    border-radius: 22.5px;
    text-align: center;
    line-height: 45px;
    top: -50px;
    background-color: #50E3C2;
    z-index: 5;
    left: calc(50% - 125px);
    animation: slide-in-from-top .5s ease-out forwards, slide-out-from-top .25s linear forwards;
    animation-delay: .5s, 4s;
    &.hidden {
      display: none;
    }
    
    &:after {
      content: attr(data-content)
    }
  }
}

